*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;

}

body{
    background-color: #000000;
}


.newsletter{
    width: 80%;
    margin: 20px auto;
    border: black 2px solid;
    padding: 18px;
    background: url("/paper.jpeg");
}

.name{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
}

.content div h3 {
    text-align: center;
    font-size: 4vw;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    border-width: 80%;
}

.content{
    border-top: black 2px solid;
    border-width: 90%;
    padding: 1em;;
    display: grid;
    grid-template-columns: 49% 1% 49%;

}
.info{
    margin-right: 16px;
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
    text-align: justify;
    margin-top: 8px;
}

.right{
    text-align: center;
    
 
}

.title{
    text-align: center;
    font-size: 7vw;
    border-top: black 2px solid;
    border-width: 90%;
}

img{
    width: 70%;
    border: 2px black inset;
    background-color:crimson;
}

.medio{
    border-right: black 2px solid;
    border-width: 90%;
}

.infos{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    border-top: black 2px solid;
    font-size: 2vw;
}